* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
    line-height: 1.6;
}

header {
    background: #121212;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1db954;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

.btn-nav {
    background: #1db954;
    padding: 8px 15px;
    border-radius: 20px;
}

.hero {
    background: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc') center/cover no-repeat;
    text-align: center;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.section {
    padding: 70px 40px;
    text-align: center;
}

.dark {
    background: #181818;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: #202020;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.genre {
    background: #1db954;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.genre:hover {
    background: #17a74a;
}

.btn {
    background: #1db954;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
}

footer {
    background: #121212;
    padding: 20px;
    text-align: center;
    color: #888;
}

@media(max-width:768px){
    .hero h1 {
        font-size: 2rem;
    }
}
